agents/[PROJECT] Carousel.json
{
  "name": "[PROJECT] Carousel",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "346792f7-3fa0-4df0-a614-b72fc4b8682e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"California\",\n\t\"text\": \"\",\n\"output\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        240
      ],
      "id": "dfcfec39-ac22-4672-88d3-fc2f0dcbcf27",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты - лучший копирайтер и генератор каруселей в Instagram. Твоя задача по заданному заголовку прислать готовый текст для карусели из 6 слайдов.\nСтруктура карусели: \n1 слайд - вирусный заголовок\n2,3,4,5 - содержание\n6 слайд - призыв к действию и сохранить карусель, например \"по кодовому слову \"агент\" отправлю гайд\" или \"по кодовому слову \"промпт\" отправлю 100+ промптов\"\n\nПример работы с данными:\nТебе приходит \"Сделай карусель с заголовком \"Как удивить друга и внедрить ChatGPT в свой Telegram-аккаунт\"\nТы должен составить так:\n\"🖼️ Слайд 1 (обложка):\nКак удивить друга\nи внедрить ChatGPT в свой Telegram-аккаунт\n\n🖼️ Слайд 2:\nШаг 1: Создай Telegram-бота\nПерейди в @BotFather → /newbot\nПридумай имя и получи токен\n\n🖼️ Слайд 3:\nШаг 2: Подключи к n8n\nn8n — визуальный редактор автоматизаций\nТам ты “свяжешь” Telegram и ChatGPT без кода\n\n🖼️ Слайд 4:\nШаг 3: Настрой цепочку\n— Получить сообщение от бота\n— Отправить его в ChatGPT\n— Вернуть ответ в Telegram\n\n🖼️ Слайд 5:\nШаг 4: Протестируй\nПиши боту любой вопрос — он будет отвечать как умный ассистент\n(друг подумает, что ты хакер 😎)\n\n🖼️ Слайд 6 (финал):\nПо кодовому слову «агент» — получишь простой урок, где всё сделаешь за 30 минут.\n\n📌 Сохрани, чтобы не потерять!\"\n\nИ вернуть ответ:\n{\n\"title\": \"Как удивить друга и внедрить ChatGPT в свой Telegram-аккаунт\",\n\"text\": \"\"🖼️ Слайд 1 (обложка):\nКак удивить друга\nи внедрить ChatGPT в свой Telegram-аккаунт\n\n🖼️ Слайд 2:\nШаг 1: Создай Telegram-бота\nПерейди в @BotFather → /newbot\nПридумай имя и получи токен\n\n🖼️ Слайд 3:\nШаг 2: Подключи к n8n\nn8n — визуальный редактор автоматизаций\nТам ты “свяжешь” Telegram и ChatGPT без кода\n\n🖼️ Слайд 4:\nШаг 3: Настрой цепочку\n— Получить сообщение от бота\n— Отправить его в ChatGPT\n— Вернуть ответ в Telegram\n\n🖼️ Слайд 5:\nШаг 4: Протестируй\nПиши боту любой вопрос — он будет отвечать как умный ассистент\n(друг подумает, что ты хакер 😎)\n\n🖼️ Слайд 6 (финал):\nПо кодовому слову «агент» — получишь простой урок, где всё сделаешь за 30 минут.\",\n\"output\": \"Заполнил карусель в Гугл табличку \nhttps://docs.google.com/spreadsheets/d/1m9_6yWGKbF-v3yvnDPRGthtt8y-vRRFWdTvtzyXlGFY\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "5afefbbc-e619-4770-b747-adcac6468096",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1m9_6yWGKbF-v3yvnDPRGthtt8y-vRRFWdTvtzyXlGFY/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9_6yWGKbF-v3yvnDPRGthtt8y-vRRFWdTvtzyXlGFY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Заголовок": "={{ $json.output.title }}",
            "Текст": "={{ $json.output.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Заголовок",
              "displayName": "Заголовок",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Текст",
              "displayName": "Текст",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        928,
        0
      ],
      "id": "5047fde4-c623-47d4-8754-4530066ac1bc",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Tj66ggjeOR20k9HQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcc8ab84-11a1-467d-81c6-b9242a993ec4",
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        0
      ],
      "id": "7854d8c6-a81d-4342-be4f-80e71babb875",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты лучший копирайтер и маркетолог в мире.\n\nТвоя задача получать текст или заголовок.\nЕсли ты получаешь текст, ты должен составить вирусный заголовок и отправить его, если ты получаешь заголовок, ты должен без изменений передать его дальше.\nПолученное сообщение: {{ $json.query }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        240,
        0
      ],
      "id": "3700552d-f123-41c0-b191-5e7dd6fee8cd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        224
      ],
      "id": "4f570b55-9e15-4b6a-8eef-ddd58552fa7e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OP0XOhuuKtWcx1gR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 1\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        720,
        256
      ],
      "id": "b21a949a-1081-4bbf-9193-b860490d6582",
      "name": "Tavily"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee7d9677-991a-40a1-a866-970ac1d41cf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8d75033dccbb840a52d8f5196e1eb3e8a584678eaec7c9905ceafbea961e069"
  },
  "id": "aFlF1TuYuFAF87im",
  "tags": []
}