agents/[PROJECT] TranscriptYT.json
{
  "name": "[PROJECT] TranscriptYT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60d8341a-fd64-45f3-ab7d-d044fa7d51ef",
              "name": "video_id",
              "value": "={{ $json.output.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "87f3115d-15ea-4529-834f-33a4c36de154",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://youtube-transcriptor.p.rapidapi.com/transcript",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "bf5425a18cmsh6556b8ab95ae6eap1ff2bajsn92060888e24a"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "youtube-transcriptor.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        0
      ],
      "id": "0a366d92-76c8-4d10-b2ce-bda44d92f134",
      "name": "YT transkript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecb0b3b1-7629-4124-b244-42aa86cd1f36",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "89d566e4-d3c5-4b7c-bee8-975164f77b14",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "0cfd7805-d460-48cf-aef2-2abae44d6b43",
              "name": "transcription",
              "value": "={{ $json.transcription }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        0
      ],
      "id": "23d946b6-7951-44df-bbe1-0351cde62f45",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "transcription",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1312,
        0
      ],
      "id": "f48b5ef3-ddc8-4691-8cce-2792f037f4f3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "subtitle"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "id": "2697b44b-6a3c-41b4-beba-d6fc91865137",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "efc33d0b-f7ff-4e48-a4ab-530e86edc925",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты получаешь ссылку на ютуб видео. Твоя задача из этой ссылки вытащить ID из 11 символов.\nПример:\nТы получаешь \"Вкратце объясни что в этом видео https://www.youtube.com/watch?v=vEM8kwY14PQ\"\nТы должен отправить: \"vEM8kwY14PQ\"\nЛибо ты получаешь \"Транскрибируй видео https://www.youtube.com/watch?v=E93dWbIMdJk&t=2s\"\nТы должен отправить \"E93dWbIMdJk\"\n\nОтправь video_id в Json формате\n{\n  \"video_id\": \"vEM8kwY14PQ\"\n}\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        240,
        0
      ],
      "id": "f5c0c29a-7633-4626-97c5-bf66ff121861",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты - лучший ИИ-агент по транскрипции видео. Вот субибтры видео: {{ $json.subtitle }}. Верни чистый текст из этого видео.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1744,
        0
      ],
      "id": "0081002f-df7c-457f-8eb7-35af5452103c",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"video_id\": \"vEM8kwY14PQ\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        224
      ],
      "id": "0fe5b4d2-1a21-4e0a-ae62-7c4e3b589901",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        256
      ],
      "id": "47ddb0da-7fb3-4721-960e-700cc3f75a9f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OP0XOhuuKtWcx1gR",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "YT transkript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT transkript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a4cbca8-3a17-49dc-bbba-37d608f07e9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8d75033dccbb840a52d8f5196e1eb3e8a584678eaec7c9905ceafbea961e069"
  },
  "id": "2FWc4XVsGFbV3GZp",
  "tags": [
    {
      "name": "generalov ai",
      "id": "O97YOpleW9TVnfmT",
      "createdAt": "2025-07-18T14:13:41.844Z",
      "updatedAt": "2025-07-18T14:13:41.844Z"
    }
  ]
}